{% extends 'base.html.twig' %}



{% block body %}

<div class="col-sm-6 col-md-4 col-lg-4" style="margin: auto;">
      <div class="box">
         
         <div class="img-box" style=" margin-bottom: 20px;">
            <img src="images/{{product.image[0]}}" alt="" style="max-width:300px;">
         </div>
         <div class="detail-box" style="margin-bottom: 20px;">
            <h5>
            {{ product.title }}
            </h5>
            <br>

            {% if ( product.discountprice!=0 ) %}
            <h6>
                  Discount price: ${{ product.discountprice }}<br>
               
                  Normal price:
                  <span style="text-decoration: line-through; color: red;">
                  ${{ product.price }}
               </span>
            </h6>
            {% else %}
            <h6>
               Price: ${{ product.price }}
            </6>
            {% endif %}
            <br>
            <h6>
               {{ product.description }}
            </6>
            <br><br>
            <h6>
               Available: {{ product.quantity }}
            </6>
            <br><br>
            
            <form action="{{path('app_add_cart', {'id':product.id}) }}" method="post">
                  <h6>
                     Quantity: <input type="number" name="quantity" value="1" min="1" max="{{ product.quantity }}" style="width:100px">    
                  </h6>
                  
                  <input type="submit" value="Add to Cart" class="btn btn-primary" style="margin:0">  
                  
                  
            </form>
         </div>
      </div>
   </div>
      

 {% endblock %}
